<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <!--<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_484460_l28w1uqg1q19vn29.css">    &lt;!&ndash;iconfont&ndash;&gt;-->
</head>
<body>
    <h1 id="root"></h1>

</body>
</html>